body {
  background-color: #00008B; /* warna darkblue */
  font-family: Arial, sans-serif; /* jenisrgb huruf yang bersih dan mudah dibaca */
  color: #A9A9A9; /* warna text utama (abuabu) */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 20px
  background-color: white;
  border-radius: 15px: /* membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);/* efek bayangan */
  text-align: center;
}

.kartu-profile img {
  width: 150px;
  border-radius: 50%; /* ror */
}
