body {
  background-color: #00008B; /* warna darkblue */
  font-family: Arial, sans-serif; /* jenisrgb huruf yang bersih dan mudah dibaca */
  color: #0078d7; /* warna text utama (abuabu) */
  text-align: center;
}

.kartu-profil {
  width: 350px;
  margin: 0px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 30px;
  background: white;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek bayangan */
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* jadi bulet! */
  object-fit: cover;
  border: 10px solid #0078d7;
  margin-bottom: 15px;
}
h1 {
  color: #0078d7;
  margin-bottom: 10px;
}
h2 {
  color: #0078d7;
  font-size: 18px;
  margin-top: 0;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

