body {
  background-color: #00008B; /* warna darkblue */
  font-family: Arial, sans-serif; /* jenisrgb huruf yang bersih dan mudah dibaca */
  color: #0078d7; /* warna text utama (abuabu) */
  text-align: center;
}

.kartu-profil {
  width: 350px;
  margin: 0px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 30px;
  background: white;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek bayangan */
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* jadi bulet! */
  object-fit: cover;
  border: 10px solid #0078d7;
  margin-bottom: 15px;
}
h1 {
  color: #0078d7;
  margin-bottom: 10px;
}
h2 {
  color: #0078d7;
  font-size: 18px;
  margin-top: 0;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
button {
  display: block;
  margin: -415px auto 0 485px; /* atas, kanan, bawah, kiri */
}
keyframes animate {
  
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
    
  }
  
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4;
    0 0 20px #03bcf4;
    0 0 40px #03bcf4;
    0 0 80px #03bcf4;
    0 0 160px #03bcf4;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  margin-bottom: 30px;

h1 {
  margin-bottom: 30px;
  }

